@model WebShop.Models.Cart
@{ 
    int totalPrice = 0;
    int i = 0;
}

<div class="center-div">
    
    <h3>Your cart:</h3>
    <table class="cart">

        <tr>
            <td><h4>Product</h4></td>
            <td><h4>Price</h4></td>
            <td><h4>No. items</h4></td>
        </tr>

        @foreach (var item in Model.ProductList)
        {
            <tr>
                <td class="data-row">@item.Key.Name</td>
                <td class="data-row">@item.Key.Price</td>
                <td class="data-row">@item.Value</td>
                <td><a href="@Url.Action("AddItem","Cart", new { id = @i })"><span class=" glyphicon glyphicon-plus"></span></a></td>
                <td><a href="@Url.Action("RemoveItem","Cart", new { id = @i })"><span class=" glyphicon glyphicon-minus"></span></a></td>
            </tr>
            {
                totalPrice = totalPrice + (item.Key.Price*item.Value);
                i++;
            }
            
        }
    </table>
    <div class="total-price">
        <p>Total: @totalPrice &#36;</p>
    </div>

    <form class="form-group">
        <button class="btn btn-default">Checkout!</button>
    </form>

</div>

